extends layout

block content
    h1="Objetividade - "+contrato.objectoContrato
    ul
        li="Tipo: "+contrato.tipoprocedimento
        li="Número de anuncio: "+contrato.nAnuncio
        li="Data de publicação: "+contrato.dataPublicacao
        li="Data de celebração: "+contrato.dataCelebracaoContrato
        li="Preço contratual: "+contrato.precoContratual
        li="Prazo de execução: "+contrato.prazoExecucao
        li="NIPC: "+contrato.NIPC_entidade_comunicante
        li="Entidade comunicante: "+contrato.entidade_comunicante
        li="Fundamentação: "+contrato.fundamentacao